@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
}

body {
  background: rgb(47,24,75);
  background: linear-gradient(270deg, rgba(47,24,75,1) 0%, rgba(200,177,228,1) 57%, rgba(155,114,207,1) 100%);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  /* border-radius: 0 0 5px 5px; */
  box-shadow: 0px 1px #532b883f;
  color: #2f184b;
}

#header_title {
  font-size: 25px;
}

#menu {
  background-color: #f9f9f9;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 4rem;
  right: -100%;
}

.logo {
padding-top: 10px;
}

.logo:hover {
  transition: 0.15s ease-in-out;
  scale: 1.1;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.card {
  scale: 0.9;
  min-width: 20rem;
  transition: 0.15s ease-in-out;
  filter: drop-shadow(2px 2px 1px gray); 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card:hover {
  scale: 1.01;
  background-color: rgb(83,69,91);
  background:#2f184b;
}

.card:hover h2 {
  color: white;
  font-size: 28px;
}

.internal_card {
  display: flex; 
  gap: 10px;
  flex-direction: column;
  max-width: 100%;
  height: 80%;
  background-color: #F4EFFA;
}

.pricing-button {
	font-weight: bold;
	margin: auto 3em 2em 3em; 
	padding: 1em 2em;
	color: #fff;
	border-radius: 30px;
  background: #4d4766;
	/* -webkit-transition: background-color 0.3s; */
	transition: 0.2s;
}

.pricing-button:hover {
  background-color: #2f184b;
}
.pricing-button:focus {
  background-color: #2f184b;
}



/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */